/* Importing custom fonts */
@font-face {
  font-family: 'Roboto-Bold';
  src: url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Defining CSS variables for colors */
:root {
  /* Primary color */
  --primary-tomato: hsl(4, 100%, 67%);

  /* Neutral colors */
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

/* Resetting default margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling for the body */
body {
  font-family: 'Roboto-Regular', sans-serif;
  background-color: var(--charcoal-grey);
  color: var(--white);
}

/* Container styling */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--white);
  color: var(--dark-slate-grey);
  width: 700px;
  max-width: 60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

/* Text container styling */
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

/* Desktop graphic styling */
.desktop-graphic {
  display: block;
  width: 50%;
  height: 100%;
}

/* Title styling */
.title {
  font-family: 'Roboto-Bold', sans-serif;
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

/* Description styling */
.description {
  margin-bottom: 20px;
}

/* List item styling */
li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 15px;
}

/* List item image styling */
li img {
  width: 1rem;
  height: auto;
  margin-right: 0.7rem;
}

/* Label styling */
label {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  font-size: 0.8rem;
}

/* Email input styling */
.email-input {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

/* Subscribe button styling */
.subscribe-btn {
  display: block;
  font-size: 0.9rem;
  width: 100%;
  border: none;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  padding: 1rem;
  font-weight: bold;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s;
}

/* Subscribe button hover effect */
.subscribe-btn:hover {
  background-color: var(--primary-tomato);
  color: var(--white);
}

/* Graphic container styling */
.graphic-container {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Mobile graphic styling */
.mobile-graphic {
  display: block;
  width: 100%;
}

/* Attribution styling */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

/* Attribution link styling */
.attribution a {
  color: var(--grey);
}

/* Media query for screens with max-width of 768px */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    flex-direction: column-reverse;
    width: 100%;
  }

  .text-container {
    width: 100%;
    align-items: flex-start;
    padding: 1rem;
  }

  .mobile-graphic {
    width: 100%;
  }

  .desktop-graphic {
    display: none;
  }

  .mobile-graphic {
    display: block;
  }

  .modal {
    border-radius: 0;
  }

  .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

/* Media query for screens with min-width of 768px */
@media (min-width:768px) {
  .container {
    padding: 1rem;
  }

  .desktop-graphic {
    display: block;
    width: 50%;
    height: 100%;
  }

  .mobile-graphic {
    display: none;
  }

  .modal-dialog {
    border-radius: 10px;
  }
}

.hidden {
  display: none;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Modal dialog styling */
.modal-dialog {
  background-color: var(--white);
  color: var(--dark-slate-grey);
  max-width: 100%;
  width: 400px;
  padding: 1.5rem;
}

/* Modal content styling */
.modal-content {
  text-align: left;
}

/* Success description styling */
.success-description {
  font-size: 0.9rem;
  line-height: 1.5;
}

/* Success icon styling */
.success-icon {
  width: 50px;
  height: auto;
}

/* Success title styling */
.success-title {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 2.1rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Bold text within success description */
.success-description .bold {
  font-weight: bold;
}